<section class="container-fluid">
    <div class="section__printinfo">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="section__printinfo--heading">Print Information</h2>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="printinfo__tech background">
              <div class="middleground">
                <div class="foreground"></div>
              </div>
              <div class="measurement__vertical">
                <div class="increments one">
                  <span class="length">10mm</span>
                </div>
                <div class="increments two">
                  <span class="length">10mm</span>
                </div>
                <div class="increments three">
                  <span class="length">10mm</span>
                </div>
              </div>
              <div class="measurement__horizontal">
                <div class="increments one">
                  <span class="length">10mm</span>
                </div>
                <div class="increments two">
                  <span class="length">10mm</span>
                </div>
                <div class="increments three">
                  <span class="length">10mm</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="container slim-content">
            <div class="row">
              <div class="col-sm-6 printinfo__box">
                <div class="row">
                  <h4 class="col-xs-12 sub-heading">Small</h4>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <div class="button main-cta">
                      CTA
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class="button main-cta">
                      CTA
                    </div>
                  </div>
                </div>
                <div class="row">
                  <p class="col-xs-12 paragraph-copy">
                    Open Edition ∞ ( Not signed )<br /><br /> Up to 43 cm (17 inch) wide. Open edition unsigned print. Prints
                    are handled and distributed by INPRNT, USA. Price includes world wide shipping.
                    <br /><br /> Price: 80 USD
                  </p>
                </div>
              </div>
              <div class="col-sm-6 printinfo__box">
                <div class="row">
                  <h4 class="col-xs-12 sub-heading">Medium</h4>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <div class="button main-cta">
                      CTA
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class="button main-cta">
                      CTA
                    </div>
                  </div>
                </div>
                <div class="row">
                  <p class="col-xs-12 paragraph-copy">
                    Limited Edition of 10 ( Signed )
                    <br /><br /> 74 cm (30 inch) wide. Signed and numbered on matt Hahnemühle Photo Rag 500 gram/m² paper.
                    Shipped flat (unframed) in a robust custom made box. Price includes world wide shipping. Limited edition
                    prints are handled and distributed by Erik Johansson and available in the webshop if you follow the link
                    below.
                    <br /><br /> Price: $100 AU
                  </p>
                </div>
              </div>
              <div class="col-sm-6 printinfo__box">
                <div class="row">
                  <h4 class="col-xs-12 sub-heading">Large</h4>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <div class="button main-cta">
                      CTA
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class="button main-cta">
                      CTA
                    </div>
                  </div>
                </div>
                <div class="row">
                  <p class="col-xs-12 paragraph-copy">
                    Limited Edition of 3 ( Signed )
                    <br /><br /> From 100 to 180 cm (40 - 71 inch) wide. Signed and numbered on Hahnemühle Photo Rag Baryta
                    315 gram/m² paper. Shipped rolled (unframed) in a robust protective tube. Price includes world wide shipping.
                    Limited edition prints are handled and distributed by Dallas Gale. See available prints in link below.
                    <br /><br /> Price from: $200 AU
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>