
    <div class="col-xs-2">
        <button class="button main-cta" (click)="toggleAllImages()">
            {{ showAllImages ? "Show Less" : "Show More"}}
        </button>
    </div>
    <div class="col-xs-12">
        <masonry [options]="{ transitionDuration: '0.5s' }">
            <masonry-brick *ngFor="let image of images" class="grid-item">
                <img [src]="'app/media/watermarked/' + image.ref">
            </masonry-brick>
            <span *ngIf="showAllImages">
                <masonry-brick *ngFor="let image of images | slice: 9" class="grid-item">
                    <a class="popup" ng-href="'app/media/watermarked/' + image.ref">
                        <img [src]="'app/media/watermarked/' + image.ref">
                    </a>
                </masonry-brick>
            </span>
        </masonry>

    <!--<div class="grid">
        <div class="grid-sizer"></div>
        <figure *ngFor="let image of images | slice: 0:8" class="grid-item">
            <a class="popup" ng-href="'app/media/watermarked/' + image.ref">
                <img [src]="'app/media/watermarked/' + image.ref">
            </a>
        </figure>
        <span *ngIf="showAllImages">
            <div class="grid-sizer"></div>
            <figure *ngFor="let image of images | slice: 9" class="grid-item">
                <a class="popup" ng-href="'app/media/watermarked/' + image.ref">
                    <img [src]="'app/media/watermarked/' + image.ref">
                </a>
            </figure>
        </span>
    </div>-->
</div>