<header id="header" class="header">
    <nav class="row">
        <div class="container-fluid">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a href="/" class="branding">
                        <div class="branding__logo">
                            <img src="app/Images/branding/logo-black-stamp-only-2x.png" />
                        </div>
                        <div class="branding__type">
                            <h4 class="branding__type--title">
                                Botanic &amp; Terra<br />Photography
                            </h4>
                            <h5 class="branding__type--signature">
                                By <span class="name">Dallas Gale</span>
                            </h5>
                        </div>
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <div class="col-xs-12 navigation">
                        <ul class="navigation__list">
                            <li class="navigation__list--item icons search"></li>
                            <li *ngFor="let item of nav" class="navigation__list--item">
                                {{ item.title }}
                            </li>
                            <!--<li class="navigation__list--item dropdown">
                                <a href="/gallery" class="button dropbtn">
                                    BROWSE GALLERY
                                </a>
                                <div class="dropdown-content">
                                  <span class="">
                                      <a href="@item.Url">Cat 1</a>
                                  </span>
                                  <span class="">
                                      <a href="@item.Url">Cat 1</a>
                                  </span>
                                  <span class="">
                                      <a href="@item.Url">Cat 1</a>
                                  </span>
                                  <span class="">
                                      <a href="@item.Url">Cat 1</a>
                                  </span>
                                  <span class="">
                                      <a href="@item.Url">Cat 1</a>
                                  </span>
                                </div>
                            </li>-->
                            <!--<li class="navigation__list--item mobile">
                                <a class="navigation__list--item-link" href="@item.Url">@item.Name</a>
                            </li>
                            <li class="navigation__list--item">
                                <a class="navigation__list--item-link" href="@linkUrl">
                                    About
                                </a>
                            </li>
                            <li class="navigation__list--item">
                                <a class="navigation__list--item-link" href="@linkUrl">
                                    Shop Limited Prints
                                </a>
                            </li>
                            <li class="navigation__list--item">
                                <a class="navigation__list--item-link" href="@linkUrl">
                                    Shop Digital Stock
                                </a>
                            </li>
                            <li class="navigation__list--item">
                                <a class="navigation__list--item-link" href="@linkUrl">
                                    Contact
                                </a>
                            </li>-->
                            <li class="navigation__list--item icons social">
                                <ul class="social__icons">
                                    <li *ngFor="let item of social" [attr.class]="'social__icons--item ' + item.class">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>